In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.shape

(1338, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
data.sex.value_counts()

male      676
female    662
Name: sex, dtype: int64

In [10]:
data.region.value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [16]:
encoder = LabelEncoder()
labels = encoder.fit_transform(data.sex)
data['sex'] = labels
data.head()

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [20]:
labels = encoder.fit_transform(data.region)
data['region'] = labels
data.head()

   age  sex     bmi  children smoker  region      charges
0   19    0  27.900         0    yes       0  16884.92400
1   18    1  33.770         1     no       0   1725.55230
2   28    1  33.000         3     no       0   4449.46200
3   33    1  22.705         0     no       0  21984.47061
4   32    1  28.880         0     no       0   3866.85520

In [21]:
labels = encoder.fit_transform(data.smoker)
data['smoker'] = labels
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       0  16884.92400
1   18    1  33.770         1       0       0   1725.55230
2   28    1  33.000         3       0       0   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

In [22]:
x = data.drop(columns='charges', axis=1)
y = data['charges']

In [23]:
x.shape

(1338, 6)

In [24]:
y.shape

(1338,)

In [25]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=101)

In [26]:
x.shape, xtrain, xtest.shape

((1338, 6),
       age  sex     bmi  children  smoker  region
 804    23    1  26.510         0       0       0
 354    18    0  38.280         0       0       0
 563    50    1  44.770         1       0       0
 1177   40    0  27.400         1       0       0
 390    48    1  35.625         4       0       0
 ...   ...  ...     ...       ...     ...     ...
 575    58    0  27.170         0       0       0
 973    19    0  40.500         0       0       0
 75     57    1  34.010         0       0       0
 599    52    0  37.525         2       0       0
 863    36    0  19.855         0       0       0

 [1070 rows x 6 columns],
 (268, 6))

In [28]:
model = RandomForestRegressor()
model.fit(xtrain, ytrain)

RandomForestRegressor()

In [29]:
ypred = model.predict(xtest)

In [31]:
score = metrics.r2_score(ytest, ypred)
score

0.8370627633265246